* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f7f7f7;
}

.header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1a359;
}

.menu {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    max-width: 980px;
    margin: auto;
    width: 100%;

}

.menu__item {
    cursor: pointer;
    vertical-align: middle;
}

.menu__item:nth-child(1) {
    color: white;
}

.menu__item:nth-child(2) {
    flex-grow: 0.4;
}

.search {
    width: 100%;
    border-radius: 6px;
    border: white 2px;
    padding: 4px;
    outline: none;
}

.body {
    padding: 6.5rem 3rem 0 3rem;
    max-width: 980px;
    margin: auto;
   

}

.products {

    margin: auto;
    width: 100%;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;;
    gap: 20px;
}


.product {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    

}

.product-price {
    color: black;

}

.productName {
    height: 50px;
}



.img {
    width: 100%;
}


.img--product {
    border-radius: 5px;
}

.img--addcart {
    width: 30px;
    display: block;
    margin-left: auto;
}


.destacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    grid-gap: 2rem;
    grid-template-rows: auto;
    width: 100%;
}

.destacados .product {
    height: 200px;
    width: 200px;
    display: grid;
    place-items: center;
}

.destacados .img {
    width: 120px;

}

.titulo {
    margin-top: 1rem;
}

@media only screen and (max-width: 1068px) {

    .menu {
        justify-content: space-around;
    }

    .products {
        grid-template-columns: 1fr 1fr;
        width: 80vw;
        margin: auto;

    }
       


    .destacados .product {
        height: 160px;
        width: 100%;
        display: grid;
        place-items: center;
    }

    .destacados .img {
        width: 70px;

    }

    .titulo {

        width: 80vw;
        margin: auto;
    }

    .footerBody{
        
        flex-direction: column;
        align-items: center;
    }

    .ventajas .box{
        flex-direction: column;
        align-items: center;
    }

}

.logohd{
    width: 60px;
}

.logoft{
    width: 100px;
    display: block;
    margin: auto;
}


.ventajas{
    background-color: #d4d4d4;
}

.ventajas .box{
    margin: auto;
    max-width: 980px;
    display: flex;
    gap: 16px;
    justify-content:space-between;
}


.ventaja{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

   
    font-weight: 600;
}

.ventaja img{
    width: 40px;
}


.footerBody{
    max-width: 980px;
    margin: auto;
    margin-top: 40px;

    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 40px;
 
}

.footerBody a{
    text-decoration: none;
    color: black;
}

.footerBody a:hover{
    color: #ff820e;
    
}

.col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.col:nth-child(1){
    width: 240px;
}


.col:nth-child(2){
    width: 249px;
    
}


.col:nth-child(3){
    width: 203px;
    
}

.h1{
    font-weight: 700;
}

.footerImg{
    width: 50px;
}

.footerImg2{
    width: 60%;
}


